@{
    ViewBag.Title = "Admin Home";
}

<h2 style="color: #1E90FF; font-weight: bold;">Admin Home</h2>

<p>Bem-vindo à área administrativa da Biblioteca de Jogos!</p>

<h3 style="color: #1E90FF;">Gerenciamento</h3>
<div class="btn-group-vertical">
    <a href="https://localhost:44326/Developer" class="btn btn-primary btn-lg btn-block">Gerenciar Desenvolvedores</a>
    <a href="https://localhost:44326/Game" class="btn btn-primary btn-lg btn-block">Gerenciar Jogos</a>
    <a href="https://localhost:44326/Genre" class="btn btn-primary btn-lg btn-block">Gerenciar Gêneros</a>
    <a href="https://localhost:44326/Review" class="btn btn-primary btn-lg btn-block">Gerenciar Avaliações</a>
    <a href="https://localhost:44326/UserGameLibrary" class="btn btn-primary btn-lg btn-block">Gerenciar Biblioteca de Jogos do Usuário</a>
</div>

<style>
    /* Cabeçalho principal */
    h2 {
        color: #1E90FF;
        font-weight: bold;
    }

    /* Subtítulo */
    h3 {
        color: #1E90FF;
        font-weight: bold;
    }

    /* Estilos para os botões */
    .btn-group-vertical {
        width: 100%;
        margin-top: 20px;
    }

    .btn-primary {
        background-color: #1E90FF;
        color: white;
        border: none;
        padding: 15px;
        font-size: 18px;
        margin-bottom: 10px;
    }
</style>
